/* ==== Blog Page Start ==== */
.fl__page--blog {
	.grid {
		columns: 3;
		column-gap: 30px;
	}
	.grid .grid-item {
		width: 32%;
		height: auto;
		margin-bottom: 25px;
		border: 1px solid #ededed;
	}
	.grid .grid-item .img {
		overflow: hidden;
	}
	.grid .grid-item .img img {
		width: 100%;
		transition: all 0.5s;
	}
	.grid .grid-item:hover .img img {
		transform: scale(1.15);
	}
	.grid .grid-item .text {
		padding: 20px 30px 25px;
	}
	.grid .grid-item .text .author {
		display: flex;
		align-items: center;
		padding-bottom: 15px;
		margin-bottom: 20px;
		border-bottom: 1px solid #ececec;
	}
	.grid .grid-item .text .author .img {
		width: 38px;
		height: 38px;
	}
	.grid .grid-item .text .author .img {
		width: 38px;
		height: 38px;
	}
	.grid .grid-item .text .author .img img {
		height: 100%;
		object-fit: cover;
		transform: scale(1);
	}
	.grid .grid-item .text .author > .text {
		width: calc(100% - 38px);
		padding: 0 0 0 12px;
	}
	.grid .grid-item .text .author > .text p {
		margin-bottom: 0;
	}
	.grid .grid-item .text a.title {
		display: block;
		padding-bottom: 25px;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.2;
		color: #25400c;
		transition: all 0.5s;
	}
	.grid .grid-item .text a.title:hover {
		color: var(--theme-color);
	}
	.grid .grid-item .text p {
		margin-bottom: 0;
		color: #4d4d4d;
	}
	.grid .grid-item .text .know-btn a {
		display: inline-block;
		padding-top: 20px;
		color: #4d4d4d;
		transition: all 0.6s;
	}
	.grid .grid-item .text .know-btn a:hover {
		color: var(--theme-color);
	}
}
