/* ==== Shop Page Start ==== */
.single-shop {
  padding: 100px 0;
  background: #f8f8f8;
}
body.woocommerce-shop .single-shop {
  background: #fff;
}

.product-filter-sidebar {
  padding: 35px 25px;
  background: #f8f8f8;
}
.product-filter-sidebar .wpf_item {
  padding: 10px 0 !important;
  border-bottom: 1px solid #e9e9e9;
}
.product-filter-sidebar .wpf_item label.wpf_item_name {
  padding: 0 0 25px;
  margin: 0;
  font-size: 18px;
  color: var(--black);
  border-bottom: none !important;
}
.product-filter-sidebar .wpf_reset_btn {
  margin-top: 15px;
}
.product-filter-sidebar ul.wpf_price_range li {
  display: block !important;
}
.product-filter-sidebar .wpf_price_range label:hover,
.wpf_price_range label.active,
.wpf_price_range input:checked + label {
  color: var(--theme-color) !important;
}
.product-filter-sidebar .wpf_item_count {
  color: var(--white);
  background: var(--theme-color);
}
.woocommerce-products-header {
  display: none;
}
.woocommerce-ordering {
  display: none;
}
.woocommerce-result-count {
  padding: 0 0 20px;
  color: var(--theme-color);
}

ul.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 20px;
  padding: 0 !important;
  margin: 0 !important;
}
ul.products::before {
  display: none !important;
}
ul.products::after {
  display: none !important;
}
ul.products li {
  float: none !important;
  width: auto !important;
  padding: 0;
  margin: 0 !important;
  background: var(--white);
  border: 1px solid #efefef;
}
ul.products li .shop-list-pro {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px;
}
ul.products li .shop-list-pro > a {
  width: calc(100% - 50px);
  padding-right: 10px;
}
ul.products li .shop-list-pro .shop-list-right {
  width: 50px;
  height: 50px;
}
ul.products li .shop-list-pro .shop-list-right a:nth-child(1) {
  display: none;
}

ul.products li .shop-list-pro .shop-list-right .product_type_simple {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 0;
  font-size: 14px !important;
  font-weight: 400;
  color: var(--white);
  text-align: center;
  text-transform: capitalize;
  background: #648863 !important;
  border-radius: 0;
}
ul.products li .shop-list-pro .shop-list-right .product_type_simple:hover {
  background-color: var(--black) !important;
}
ul.products li .shop-list-pro .shop-list-right .add_to_cart_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 0;
  font-size: 0 !important;
  background: url("../images/wcart.svg") no-repeat 14px 12px #648863 !important;
  border-radius: 0;
}
ul.products li .shop-list-pro .shop-list-right .add_to_cart_button:hover {
  background-color: var(--black) !important;
}
ul.products li .shop-list-pro .woocommerce-loop-product__title {
  padding: 0 0 15px !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 1 !important;
  color: var(--black) !important;
}
ul.products li .shop-list-pro span.price {
  display: block !important;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 1 !important;
  color: var(--black) !important;
}
ul.products li .shop-list-pro span.price del {
  padding-right: 10px !important;
  font-size: 15px !important;
  color: #939393 !important;
}
ul.products li .shop-list-pro span.price ins {
  font-weight: 300 !important;
  text-decoration: unset;
}
ul.products li .added_to_cart.wc-forward {
  display: none;
}

.woocommerce span.onsale {
  top: 30px !important;
  right: auto !important;
  left: 30px !important;
  min-width: auto !important;
  min-height: auto !important;
  padding: 8px !important;
  margin: 0 !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
  background: #8bba8a;
  border-radius: 0 !important;
}
.woocommerce-message {
  border-top-color: #8bba8a !important;
}
.woocommerce-message::before {
  color: #8bba8a !important;
}

a.button.wc-forward {
  padding: 15px 30px !important;
  font-size: 17px !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 30px !important;
  transition: all 0.5s;
}
a.button.wc-forward:hover {
  background: var(--black) !important;
}

.related.products {
  padding-top: 20px;
}
.related.products h2 {
  margin-bottom: 60px;
  color: #25400c;
}
.related.products ul.products {
  grid-template-columns: repeat(4, 1fr);
}

.woocommerce-tabs {
  padding-top: 90px;
}
.woocommerce-tabs .tabs.wc-tabs {
  padding: 45px 0 0 !important;
  text-align: center;
  border-top: 1px solid #dbdbdb;
}
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  display: none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  padding: 0 !important;
  margin: 0 !important;
  background: none !important;
  border: none !important;
  border-radius: 0 !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  padding: 10px 15px !important;
  font-size: 18px;
  font-weight: 400 !important;
  color: #8a8a8a !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
  background: #648863 !important;
  border-bottom-color: #648863 !important;
  border-radius: 4px !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a {
  color: var(--white) !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before {
  display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
  display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
  display: none;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
  display: none;
}

.woocommerce-tabs h2 {
  margin-bottom: 25px;
  font-size: 35px;
}
#review_form .comment-form-comment label {
  margin-bottom: 8px;
}
#review_form .comment-form-comment textarea {
  padding: 0 25px;
  resize: none;
  border: 1px solid #e4e1e3;
  outline: none;
}
#review_form .form-submit .submit {
  padding: 16px 35px !important;
  margin-top: 10px !important;

  font-size: 18px !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all 0.5s;
}
#review_form .form-submit .submit:hover {
  background: var(--black) !important;
}
#review_form span#reply-title {
  display: inline-block;
  padding: 6px 15px;
  margin-bottom: 10px;
  font-size: 18px;
  text-transform: capitalize;
  background: #e3e0e0;
  border-radius: 4px;
}
#review_form .comment-form-rating label {
  margin-bottom: 8px;
}
.woocommerce p.stars a::before {
  color: #648863 !important;
}
.comment-form-author label {
  display: block;
  margin-bottom: 8px;
}
.comment-form-author input#author {
  width: 100%;
  height: 50px;
  padding: 0 25px;
  border: 1px solid #e4e1e3;
  outline: none;
}
.comment-form-email label {
  display: block;
  margin-bottom: 8px;
}
.comment-form-email input#email {
  width: 100%;
  height: 50px;
  padding: 0 25px;
  border: 1px solid #e4e1e3;
  outline: none;
}

.woocommerce .product .summary .comp-logo {
  display: none;
}
.woocommerce .product .summary h1.product_title {
  padding: 40px 0 10px;
  margin: 0;
  font-size: 35px;
  font-weight: 300;
  color: #25400c;
}
.woocommerce .product .woocommerce-product-rating {
  margin-bottom: 15px !important;
}
.woocommerce .star-rating span::before {
  color: #dfcc22 !important;
}
.woocommerce .woocommerce-product-rating a.woocommerce-review-link {
  font-size: 15px;
  color: #acacac;
}
.woocommerce .product .summary p.price {
  font-size: 30px !important;
  font-weight: 300 !important;
  color: #648863 !important;
}
.woocommerce .product .summary h3.product_title span {
  position: relative;
  top: 7px;
  display: block;
  width: fit-content;
  padding: 6px 13px;
  font-size: 13px;
  color: var(--white);
  letter-spacing: 1px;
  background: var(--theme-color);
  border-radius: 20px;
}
.woocommerce .product .summary p.price del {
  font-size: 18px;
  color: #acacac;
}
.woocommerce .product .summary p.price ins {
  font-weight: 400 !important;
  text-decoration: none !important;
}
.woocommerce
  .product
  .summary
  .woocommerce-product-details__short-description
  p {
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: #747474;
  border-bottom: 1px solid #eaeaea;
}
.woocommerce .product .summary span.posted_in a {
  color: #8bba8a;
}
.woocommerce .product .summary .single_add_to_cart_button {
  padding: 16px 35px !important;
  margin-top: 10px !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all 0.5s;
}
.woocommerce .product .summary .single_add_to_cart_button:hover {
  background: var(--black) !important;
}

.woocommerce .product form.cart {
  display: flex;
  align-items: center;
}
.woocommerce .product form.cart .quantity {
  padding: 6px 8px;
  margin: 11px 25px 0 0 !important;
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.woocommerce .product form.cart .quantity .qty {
  width: 50px;
  height: 35px;
  appearance: textfield;
  border: none;
  border-radius: 0;
  outline: none;
}
.woocommerce .product form.cart .quantity button {
  width: 30px;
  height: 35px;
  color: var(--white);
  background: #8bba8a;
  border: 0;
  border-radius: 4px;
}
.woocommerce .product form.cart .quantity .qty::-webkit-outer-spin-button,
.woocommerce .product form.cart .quantity .qty::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}
.woocommerce a {
  position: relative;
}
.woocommerce ul.products li.product a {
  display: block;
}
.woocommerce .plants-zones {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  text-align: center;
  background-color: #648863;
  border-radius: 5px;
}

.wvg-gallery-thumbnail-image {
  border: 1px solid transparent;
  opacity: 1 !important;
}
.wvg-gallery-thumbnail-image.slick-current {
  border: 1px solid #8bba8a;
}
.woo-variation-gallery-thumbnail-wrapper {
  width: 100% !important;
}
.woo-variation-gallery-thumbnail-slider {
  width: 85% !important;
  margin: 25px auto 0 !important;
}
.wvg-thumbnail-prev-arrow {
  top: 50% !important;
  left: -20px !important;
  width: 50px !important;
  height: 50px !important;
  visibility: visible !important;
  background: #f8f8f8 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 50%;
  opacity: 1 !important;
  transform: translateY(-50%);
}
.wvg-thumbnail-next-arrow {
  top: 50% !important;
  right: -20px !important;
  width: 50px !important;
  height: 50px !important;
  visibility: visible !important;
  background: #f8f8f8 !important;
  border: 1px solid #e1e1e1 !important;
  border-radius: 50%;
  opacity: 1 !important;
  transform: translateY(-50%);
}
.wvg-thumbnail-prev-arrow::before {
  font-size: 18px;
  color: #202020 !important;
}
.wvg-thumbnail-next-arrow::before {
  font-size: 18px;
  color: #202020 !important;
}

.single-slip {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  padding-top: 35px;
  margin-top: 40px;
  border-top: 1px solid #eaeaea;
}
.single-slip .box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.single-slip .box .icon {
  width: 35px;
}
.single-slip .box .text {
  width: calc(100% - 35px);
  padding-left: 12px;
}
.single-slip .box .text h5 {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 300;
  color: var(--black);
}
.single-slip .box .text p {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  color: var(--black);
}
