/*==== Banner Start ========*/
.bnr-sec {
  position: relative;
  padding: 120px 0 160px;
}
.bnr-sec:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url("assets/images/bnr-back.png") no-repeat center center;
}
.bnr-sec .bnr-innr {
  position: relative;
  z-index: 1;
}
.bnr-sec .bnr-innr .txt-pnl {
  width: 72%;
  text-align: center;
  margin: 0 auto;
}
.bnr-sec .bnr-innr .txt-pnl h1 {
  font-weight: 300;
  color: #25400c;
  margin-bottom: 80px;
}
.bnr-sec .bnr-innr .txt-pnl h1 span {
  display: block;
}
.bnr-sec .bnr-innr .txt-pnl .bnr-btn {
  text-align: left;
  padding-left: 82px;
}
.bnr-sec .bnr-innr .txt-pnl .bnr-btn a {
  text-transform: uppercase;
}
.bnr-sec .bnr-innr .img-pnl {
  max-width: 332px;
  width: 100%;
  margin-top: 40px;
}
.bnr-sec .bnr-innr .img-pnl h6 {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.085em;
  color: #25400c;
}
.bnr-sec .bnr-innr .img-pnl .img {
  position: relative;
  display: block;
  text-align: right;
  margin-top: -30px;
  z-index: 1;
}
.bnr-sec .bnr-innr .img-pnl .img:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 155px;
  background: url("assets/images/bnr-sape.png") no-repeat left center;
  left: 0;
  bottom: 25px;
  z-index: -1;
}
