// Utilities

.bg-repeat-x {
  background-repeat: repeat-x;
}

.bg-repeat-y {
  background-repeat: repeat-y;
}

// Add a background pattern to an element
.fl-bg-pattern {
  background-image: url("../images/background/pattern-1-20.svg");
  background-repeat: repeat;
  background-size: cover;
  &--light {
    @extend .fl-bg-pattern;
    background-image: url("../images/background/pattern-1-light.svg");
  }
  //.fl-bg-pattern-2
  &-2 {
    background-image: url("../images/background/pattern-2.svg");
    background-repeat: repeat;
    background-size: contain;
  }
}

// Toggle on hover
// Switch between two elements on hover
// Great for icons that need to change on hover
.toggle-on-hover {
  // .toggle-on-hover .toggle-on-hover--on
  #{&}--on {
    display: none;
  }
  &:hover {
    .toggle-on-hover {
      &--off {
        display: none;
      }
      &--on {
        display: inline-block;
      }
    }
  }
}
