/* ==== Footers Start ==== */
.footer {
  padding: 100px 0 60px;
  background: url("../images/footerbg.jpg") no-repeat right bottom / cover;
}
.footer .top-pnl {
  width: 50%;
  padding-bottom: 70px;
}
.footer .top-pnl h3 {
  padding-bottom: 30px;
  margin: 0;
  color: #25400c;
}
.footer .top-pnl h6 {
  padding-bottom: 60px;
  margin: 0;
  font-size: 18px;
  color: var(--black);
}
.footer .btm-pnl {
  width: 70%;
  border-top: 1px solid #d2d2d2;
}
.footer .btm-pnl .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 45px 0 80px;
}
.footer .btm-pnl .top .logo {
  display: inline-block;
  width: 200px;
  margin: 0;
}
.footer .btm-pnl .top .logo img {
  width: 100%;
}
.footer .btm-pnl .top ul li {
  display: inline-block;
  margin-right: 45px;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.22em;
}
.footer .btm-pnl .top ul li:last-child {
  margin-right: 0;
}
.footer .btm-pnl .top ul li a {
  position: relative;
  z-index: 1;
  display: block;
  color: var(--black);
  transition: all 0.5s;
}
.footer .btm-pnl .top ul li a:hover {
  color: #648863;
}
.footer .btm-pnl .copyright {
  padding: 0;
}
.footer .btm-pnl .copyright p {
  margin-bottom: 0;

  line-height: 1;
  color: #838383;
}

.newsletter-frm .ginput_container > input {
  height: 70px;
  padding: 0 30px !important;

  font-size: 18px !important;
  color: #4a4a4a;
  border: 0;
  outline: none;
}
.newsletter-frm .gform_footer {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.newsletter-frm .gform_button {
  padding: 16px 35px !important;
  margin-top: 10px !important;

  font-size: 18px !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all 0.5s;
}
.newsletter-frm .gform_button:hover {
  background: var(--black) !important;
}
