// BEM SYNTAX
// https://getbem.com/introduction/

/* ==== Header Start ==== */
.navbar {
  &-nav {
    @include media-breakpoint-down(lg) {
      font-size: 1.5rem;
    }
  }

  &__inner {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    background: var(--white);
  }

  &-toggler {
    transition: border-color var(--transition-duration)
      var(--transition-timing-function);
    &:hover,
    &:focus,
    &:active {
      border-color: var(--border-color-active);
    }
  }

  .growing-btn a {
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    padding: 0.25rem 0.5rem;
    font-size: 11px;
    color: var(--black);
    text-transform: capitalize;

    // border: 1px solid rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-rounded);

    transition: border-color var(--transition-duration)
      var(--transition-timing-function);
    &:hover,
    &:focus,
    &:active {
      border-color: var(--border-color-active);
    }

    &::after {
      font-family: "fontawesome";
      font-size: 13px;
      color: var(--gray-700);
      content: "\f107";
    }
    &::before {
      font-family: "fontawesome";
      font-size: 17px;
      color: var(--primary);
      content: "\f3c5";
    }

    span {
      line-height: 1.2;
    }
  }
}
