/*==== DashBoard Section ====*/
.nursery-dash {
  background: #f8f8f8;
}
.nursery-dash .inn {
  display: flex;
  flex-wrap: wrap;
  background: var(--white);
  border-radius: 4px;
}
.nursery-dash .inn .lt-side {
  position: relative;
  width: 25%;
  border-right: 1px solid #f0f0f0;
}
.nursery-dash .inn .lt-side .author {
  border-bottom: 1px solid #f0f0f0;
  padding: 45px;
}
.nursery-dash .inn .lt-side .author .user {
  position: relative;
  width: 75px;
  height: 75px;
  border: 3px solid #8bba8a;
  border-radius: 50%;
  margin-bottom: 15px;
}
.nursery-dash .inn .lt-side .author .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.nursery-dash .inn .lt-side .edit-profile {
  position: absolute;
  right: 15%;
  top: 45px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  line-height: 1;
  color: #8bba8a;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nursery-dash .inn .lt-side .author h5 {
  color: #25400c;
}
.nursery-dash .inn .lt-side .author a.user-email {
  font-size: 16px;
  color: #25400c;
  display: block;
  transition: all 0.6s;
}
.nursery-dash .inn .lt-side .author a.user-email:hover {
  color: #8bba8a;
}
.nursery-dash .inn .lt-side .author a.logout {
  font-size: 15px;
  color: #8bba8a;
  border-radius: 4px;
  border: 1px solid #8bba8a;
  display: inline-block;
  transition: all 0.6s;
  padding: 2px 8px;
  margin-top: 15px;
}
.nursery-dash .inn .lt-side .author a.logout:hover {
  background: #8bba8a;
}
.nursery-dash .inn .lt-side .side-menu {
  padding: 35px 0;
}
.nursery-dash .inn .lt-side .side-menu ul li {
  font-size: 17px;
}
.nursery-dash .inn .lt-side .side-menu ul li a {
  color: #25400c;
  display: block;
  transition: all 0.6s;
  padding: 12px 45px;
}
.nursery-dash .inn .lt-side .side-menu ul li a.active {
  position: relative;
  background: #ebf9ea;
}
.nursery-dash .inn .lt-side .side-menu ul li a.active:after {
  position: absolute;
  content: "";
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../images/icnactive.svg);
  width: 16px;
  height: 16px;
}
.nursery-dash .inn .lt-side .side-menu ul li a img {
  margin-right: 20px;
}
.nursery-dash .inn .lt-side .side-menu ul li a:hover {
  border-radius: 4px;
  background: #ebf9ea;
}

.nursery-dash .inn .rt-side {
  width: 75%;
  padding: 45px 50px;
}
.nursery-dash .inn .rt-side .order {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  border-bottom: 1px solid #f0f0f0;
  padding-bottom: 40px;
}
.nursery-dash .inn .rt-side .order .box {
  position: relative;
}
.nursery-dash .inn .rt-side .order .box img {
  border-radius: 6px;
}
.nursery-dash .inn .rt-side .order .box .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 25px 0;
}
.nursery-dash .inn .rt-side .order .box .text h6 {
  font-family: "Inter", sans-serif;
  color: var(--white);
  text-align: right;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-bottom: 40px;
}
.nursery-dash .inn .rt-side .order .box .text ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nursery-dash .inn .rt-side .order .box .text ul li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: var(--white);
}
.nursery-dash .inn .rt-side .order .box .text ul li a {
  color: var(--white);
}
.nursery-dash .inn .rt-side .order .box .text ul li:nth-child(1) {
  font-size: 25px;
}
.nursery-dash .inn .rt-side .tab_content {
  padding-top: 45px;
}
.nursery-dash .inn .rt-side .plant-list {
  display: none;
}
.nursery-dash .inn .rt-side .plant-list.active {
  display: block;
}
.nursery-dash .inn .rt-side .plant-list > h6 {
  color: #25400c;
  margin-bottom: 30px;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul.plant-name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 15px;
  grid-column-gap: 25px;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul li {
  font-size: 16px;
  color: #676767;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul li input {
  display: none !important;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul li label {
  position: relative;
  padding-left: 30px;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul.plant-name > li > label {
  font-weight: 500;
  color: var(--theme-color);
}

.nursery-dash .inn .rt-side .plant-list .list_ul ul li label:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  background: #fafafa;
  left: 0;
  top: 4px;
}
.nursery-dash
  .inn
  .rt-side
  .plant-list
  .list_ul
  ul
  li
  input:checked
  + label:before {
  position: absolute;
  content: "\f00c";
  left: 4px;
  top: 0;
  font-family: fontawesome;
  font-size: 17px;
  color: #648863;
  z-index: 9;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul.plant-name li .sub-size {
  padding: 10px 0 0 20px;
}
.nursery-dash .inn .rt-side .plant-list .list_ul ul.plant-name li .sub-size li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

.nursery-dash .inn .rt-side .plant-list .input-flud {
  margin-top: 30px;
}
.nursery-dash .inn .rt-side .plant-list .input-flud > label {
  font-size: 20px;
  font-weight: 300;
  margin: 0 0 10px;
}
.nursery-dash .inn .rt-side .plant-list .input-flud .form-control {
  position: relative;
  height: 50px;
  font-size: 15px;
  border: 1px solid #e1e1e1;
  background: transparent;
  border-radius: 2px;
  padding: 0 15px;
}

.nursery-dash .inn .rt-side .plant-list .list_ul .save-btn {
  padding-top: 50px;
}
.nursery-dash .inn .rt-side .plant-list .list_ul .save-btn button {
  border: 0;
}
.nursery-dash .inn .rt-side .plant-list .table-responsive tr th {
  font-size: 16px;
  color: #25400c;
  font-weight: 500;
  padding: 15px 0;
}
.nursery-dash .inn .rt-side .plant-list .table-responsive tr td {
  font-size: 16px;
  color: #676767;
  padding: 20px 0 10px;
}
.nursery-dash .inn .rt-side .plant-list .table-responsive tr td button {
  font-size: 16px;
  line-height: 1;
  color: #648863;
  display: inline-block;
  border-radius: 4px;
  background: #def2dd;
  border: 0;
  transition: all 0.6s;
  padding: 8px 10px;
}
.nursery-dash .inn .rt-side .plant-list .table-responsive tr td button:hover {
  background: var(--black);
  color: var(--white);
}
.nursery-dash .admin-vendor-title h3 {
  color: var(--theme-color);
  margin-bottom: 30px;
}
.nursery-dash ul.nav-tabs {
  border-bottom: 1px solid #648863;
}
.nursery-dash ul.nav-tabs li button {
  color: var(--black);
  border-radius: 0px;
  background: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-bottom-color: var(--theme-color) !important;
  padding: 10px 25px;
  transition: all 0.6s;
}
.nursery-dash ul.nav-tabs li button:hover {
  background: var(--theme-color);
  color: var(--white);
  border-color: var(--theme-color) !important;
}
.nursery-dash ul.nav-tabs li button.active {
  background: var(--white);
  color: var(--black);
  border-color: var(--theme-color) !important;
  border-bottom-color: transparent !important;
}
.nursery-dash ul.nav-tabs li:last-child {
  margin-right: 0;
}
.nursery-dash #orders > h2 {
  display: none;
}
.nursery-dash tr td.order-number a {
  color: var(--black);
}
.nursery-dash .tab-content {
  border: 1px solid #648863;
  background: #ffffff;
  padding: 20px 10px 0px;
  z-index: 99;
  position: relative;
  border-top: 0;
}

/*===== Tab Manage Markets ======*/
.nursery-dash .tab-content .tab-pane .manage-mrkt-wrap {
  padding: 30px;
  margin: 0;
}
.nursery-dash .tab-content .tab-pane .manage-mrkt-wrap > h3 {
  font-size: 20px;
  font-weight: 700;
  color: #931212;
  margin-bottom: 25px;
}
.nursery-dash .tab-content .tab-pane .manage-mrkt-wrap .accordion-info {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}
.nursery-dash .tab-content .tab-pane .manage-mrkt-wrap .accordion-info > h3 {
  font-size: 30px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 20px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-toggle {
  display: flex;
  align-items: center;
  background: var(--theme-color);
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  a.accordion-toggle
  h3 {
  width: calc(100% - 30px);
  font-size: 19px;
  font-weight: 500;
  color: var(--white);
  margin: 0;
  padding-left: 15px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  a.accordion-toggle
  button {
  width: 30px;
  height: 40px;
  background: var(--white);
  border: 0;
  font-size: 13px;
  box-shadow: 0 1px 10px #00000017;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  a.accordion-toggle.open
  i {
  transform: rotate(360deg);
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  a.accordion-toggle
  i {
  transform: rotate(270deg);
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content {
  display: block;
  margin-top: 12px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm:last-child {
  margin-bottom: 0px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  a.accordion-toggle {
  position: relative;
  display: block;
  background: var(--theme-color);
  padding: 10px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  a
  span {
  font-size: 15px;
  font-weight: 500;
  color: var(--white);
  padding-left: 10px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  a
  button {
  width: 20px;
  height: auto;
  font-size: 14px;
  background: transparent;
  border: 0;
  box-shadow: none;
  color: #fff;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  a.accordion-toggle
  button
  i {
  transform: rotate(360deg);
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  a.accordion-toggle.open
  button
  i {
  transform: rotate(180deg);
}

.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive {
  margin-top: 10px;
}
.manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive
  .table
  tbody
  tr
  th {
  text-align: center;
  padding: 12px;
}
.manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive
  .table
  tbody
  tr
  td {
  text-align: center;
  padding: 12px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive
  .table
  tbody
  tr
  td:nth-child(1) {
  text-align: left;
}
.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive
  .table {
  margin: 0;
}

.manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content
  .table-responsive
  .table
  tbody
  tr:nth-child(1)
  th:nth-child(1) {
  text-align: left;
}

.nflmrkt_bx {
  margin-bottom: 30px;
}
.nflmrkt_bx .inn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}
.nflmrkt_bx .inn .box {
  position: relative;
  background: #edfff2;
  border: 1px solid #dbf7e3;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.6s;
}
.nflmrkt_bx .inn .box.active {
  background: #daf0e0;
  border-color: #c4dfcc;
}
.nflmrkt_bx .inn .box:hover {
  background: #daf0e0;
  border-color: #c4dfcc;
}
.nflmrkt_bx .inn .box h3 {
  width: 80%;
  font-size: 16px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 10px;
}
.nflmrkt_bx .inn .box h3 span {
  display: block;
  font-weight: 600;
}
.nflmrkt_bx .inn .box h4 {
  position: relative;
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 0;
  padding-left: 20px;
  margin-bottom: 5px;
}
.nflmrkt_bx .inn .box h4 i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 15px;
  color: var(--theme-color);
}
.nflmrkt_bx .inn .box a.edit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
  color: #648863;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s;
}
.nflmrkt_bx .inn .box a.edit-btn:hover {
  background: var(--theme-color);
  color: var(--white);
}

.nursery-dash
  .tab-content
  .tab-pane
  .manage-mrkt-wrap
  .accordion-info
  .accordion-content
  .nursery-nm
  .accordion-content {
  display: none;
}

/*===== Tab Create Markets ======*/
.nursery-dash .tab-content .tab-pane .market-box {
  display: flex;
  flex-wrap: wrap;
}

.nursery-dash .tab-content .market-box .left-wrap {
  position: absolute;
  left: 50px;
  top: 50px;
  border: 1px solid rgba(255, 255, 255, 02);
  background: rgba(0, 0, 0, 0.95);
  padding: 25px;
}
.nursery-dash .tab-content .market-box .left-wrap h2 {
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 15px;
}
.nursery-dash .tab-content .market-box .left-wrap .input-fld {
  margin-bottom: 10px;
}
.nursery-dash .tab-content .market-box .left-wrap .input-fld label {
  font-size: 16px;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 5px;
}
.nursery-dash .tab-content .market-box .left-wrap .input-fld .input-control {
  position: relative;
}
.nursery-dash
  .tab-content
  .market-box
  .left-wrap
  .input-fld
  .input-control
  .form-control {
  width: 100%;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--white);
  outline: none;
  padding: 15px;
}
.nursery-dash .tab-content .market-box .left-wrap .input-fld .name-field-error {
  font-size: 14px;
  font-weight: 400;
  color: red;
  position: absolute;
  bottom: -22px;
  left: 0;
}
.nursery-dash .tab-content .market-box .left-wrap .input-fld .field {
  width: 100%;
}
.nursery-dash
  .tab-content
  .market-box
  .left-wrap
  .pac-card
  #input-control
  #location-error {
  font-size: 14px;
  font-weight: 400;
  color: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.nursery-dash .tab-content .market-box .left-wrap .submit-fld button {
  display: none;
}
.nursery-dash .tab-content .market-box .left-wrap .submit-fld {
  text-align: center;
}
.nursery-dash .tab-content .market-box .left-wrap .submit-fld a {
  font-size: 18px;
  display: block;
  background: #931212;
  color: var(--white);
  border: 0;
  padding: 8px 25px;
}

.nursery-dash .tab-content .tab-pane .market-box .right-wrap {
  width: 100%;
  padding: 30px;
  position: relative;
}
/*.nursery-dash .tab-content .tab-pane .market-box .right-wrap h2{ font-size:20px; font-weight:700; color:var(--black); margin-bottom:15px; }*/
.nursery-dash .tab-content .tab-pane .market-box .right-wrap #map {
  width: 100% !important;
  height: 600px !important;
}
.nursery-dash .tab-content .tab-pane .market-box .right-wrap #map .gmnoprint {
  top: auto !important;
  bottom: 50px !important;
  z-index: 99;
}
.nursery-dash .tab-content .tab-pane .market-box .right-wrap #map #pac-input {
  font-size: 16px;
  width: 330px;
  height: 45px;
  left: 10px !important;
  outline: none;
  top: 10px !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.nursery-dash
  .tab-content
  .tab-pane
  .market-box
  .right-wrap
  #map
  #pac-input::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
}

.modal-header {
  border-bottom: none !important;
}
.modal-content {
  border: none !important;
}
.mdl-cus-content {
  padding: 0 20px 20px;
}
#exampleModal ul.order_desc {
  padding: 0 0 20px;
}
#exampleModal ul.order_desc li {
  position: relative;
  font-size: 16px;
  padding-bottom: 10px;
  padding-left: 20px;
}
#exampleModal ul.order_desc li:after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background: #8bba8a;
  left: 0;
  top: 7px;
  border-radius: 50%;
}
#exampleModal ul.order_desc li span {
  width: 100px;
  font-weight: 500;
  display: inline-block;
  vertical-align: top;
}
#exampleModal ul.order_desc li span.form-addr {
  font-weight: 400;
  width: 70%;
}

#exampleModal .mdl-qt-tbl {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-bottom: none;
  padding: 0;
  margin: 0;
}
#exampleModal .mdl-qt-tbl table {
  margin: 0 !important;
}
#exampleModal .qty-tbl tr th {
  font-weight: 500;
  padding: 15px 15px;
}
#exampleModal .qty-tbl tr th {
  font-weight: 500;
  padding: 15px 15px;
}
#exampleModal .qty-tbl tr td {
  padding: 15px 15px;
}
#exampleModal .qty-tbl tr td .qt-tree {
  width: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
}
