/*==== We Work Start ====*/
.we-work .inn {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 80px;
}
.we-work .lt-txt {
  width: 90%;
}
.we-work h3 {
  color: #25400c;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}
.we-work h4 {
  color: #25400c;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
.we-work p {
  color: #444444;
  margin-bottom: 0;
}
