/* ==== About Us Start ==== */
.inn-bann {
  position: relative;
}
.inn-bann img {
  width: 100%;
}
.inn-bann .desc {
  position: absolute;
  top: 35%;
  left: 0;
  width: 100%;
}
.inn-bann .desc h1 {
  margin: 0;
  font-size: 75px;
  color: #25400c;
}

.inn-about .img-block {
  position: relative;
}
.inn-about .img-block img {
  width: 100%;
}
.inn-about .img-block::after {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 50px;
  height: 75px;
  content: "";
  background: #8bba8a;
  border-radius: 50px;
}
.inn-about .text-block {
  padding: 35px 0 0 80px;
}
.inn-about .text-block h4 {
  position: relative;
  padding-left: 25px;
  margin-bottom: 55px;
  color: #25400c;
  letter-spacing: .02em;
}
.inn-about .text-block h4::after {
  position: absolute;
  top: -23px;
  left: 0;
  width: 198px;
  height: 76px;
  content: "";
  background: url("../images/line.svg") no-repeat;
}
.inn-about .text-block h2 {
  padding-bottom: 70px;
  margin: 0;
  color: #25400c;
  letter-spacing: .02em;
}
.inn-about .text-block h2 span {
  display: block;
}
.inn-about .text-block p {
  color: #444;
}
