/*==== My Account Page Start ====*/
.woocommerce-account .woocommerce {
  background: var(--white);
  border-radius: 4px;
  padding: 40px 35px;
}
.woocommerce-account .woocommerce-MyAccount-navigation {
  width: 18%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li a {
  font-size: 17px;
  color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  padding: 15px;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul li:last-child a {
  border-bottom: 0;
  display: block;
}
.woocommerce-account .woocommerce-MyAccount-content {
  width: 82%;
  padding: 0 5px 0 40px;
}
.woocommerce-account .woocommerce-MyAccount-content h3 {
  font-size: 35px;
  color: #25400c;
  text-transform: capitalize;
  margin-bottom: 25px;
}
.woocommerce-account .woocommerce-MyAccount-content p a {
  color: #8bba8a;
}
.woocommerce-account .woocommerce-MyAccount-content a.woocommerce-Button {
  font-family: "Manrope", sans-serif;
  font-size: 17px !important;
  line-height: 1 !important;
  font-weight: 300 !important;
  color: var(--white) !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #648863 !important;
  border-radius: 30px !important;
  border: 0 !important;
  transition: all 0.5s;
  padding: 15px 30px !important;
}
.woocommerce-account .woocommerce-MyAccount-content a.woocommerce-Button:hover {
  background: var(--black) !important;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}
.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address h3 {
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .woocommerce-Address
  a.edit {
  font-size: 15px;
  color: var(--white);
  background: var(--theme-color);
  border-radius: 4px;
  padding: 5px 8px;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm
  .input-text {
  width: 100%;
  height: 50px;
  border: 1px solid #e4e1e3;
  outline: none;
  background: none;
  padding: 0 25px;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm
  .woocommerce-Button {
  font-family: "Manrope", sans-serif;
  font-size: 17px !important;
  line-height: 1 !important;
  font-weight: 300 !important;
  color: var(--white) !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #648863 !important;
  border-radius: 30px !important;
  border: 0 !important;
  transition: all 0.5s;
  padding: 15px 30px !important;
  margin-top: 20px;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .woocommerce-EditAccountForm
  .woocommerce-Button:hover {
  background: var(--black) !important;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .select2-container
  .select2-selection--single {
  height: 50px;
  border-radius: 0 !important;
  background: none;
  border: 1px solid #e4e1e3;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 50px;
}
.woocommerce-account
  .woocommerce-MyAccount-content
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 50px;
  right: 5px;
}
.woocommerce-account .woocommerce-MyAccount-content .input-text {
  width: 100%;
  height: 50px;
  border: 1px solid #e4e1e3;
  outline: none;
  background: none;
  padding: 0 25px;
}
.woocommerce-account .woocommerce-MyAccount-content button {
  font-family: "Manrope", sans-serif;
  font-size: 17px !important;
  line-height: 1 !important;
  font-weight: 300 !important;
  color: var(--white) !important;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #648863 !important;
  border-radius: 30px !important;
  border: 0 !important;
  transition: all 0.5s;
  padding: 15px 30px !important;
  margin-top: 20px;
}
.woocommerce-account .woocommerce-MyAccount-content button:hover {
  background: var(--black) !important;
}
