/* === Nursery Registration Page === */
.nursery-wrap form {
  padding: 0;
  margin: 0;
}
.nursery-wrap .gform-body .gform_fields {
  grid-row-gap: 0;
}
.nursery-wrap .gform-body .gfield {
  position: relative;
  padding: 0;
  margin-bottom: 35px;
}
.nursery-wrap .gform-body .gfield .ginput_container .gfield_description {
  display: none;
}
.gform_wrapper.gravity-theme .gfield_error [aria-invalid="true"] {
  border: 1px solid #e1e1e1 !important;
}
.nursery-wrap .gform-body #field_4_22,
.nursery-wrap form .gform-body #field_4_24,
.nursery-wrap form .gform-body #field_4_21 {
  margin: 0 0 5px;
}
.nursery-wrap .gform-body .gfield .ginput_container textarea::placeholder {
  font-size: 16px;
}
.nursery-wrap .gform-body .gfield .ginput_container textarea#input_4_4 {
  height: 105px;
  padding: 20px;
  resize: none;
}
.nursery-wrap .gform-body .gfield .gfield_label,
.nursery-wrap form .gform-body .gfield .ginput_complex .gform-field-label {
  position: absolute;
  top: -10px;
  left: 26px;
  z-index: 9;
  width: auto;
  padding: 0 5px;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  color: #787878;
  background: #fff;
}
.nursery-wrap .gform-body .gfield .gfield_label .gfield_required {
  display: none;
}
.nursery-wrap .gform-body .gfield .ginput_complex {
  position: relative;
  padding: 0;
  margin: 0;
}
.nursery-wrap .gform-body #field_4_11 > legend {
  display: none !important;
}
.nursery-wrap .gform-body .gfield .ginput_complex span {
  position: relative;
  padding-right: 0 !important;
}
.nursery-wrap .gform-body .gfield .large,
.nursery-wrap form .gform-body .gfield .ginput_complex span input,
.gform-body .gfield .ginput_container textarea {
  height: 55px;
  padding: 15px;
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2;
  color: #787878;
  resize: none;
  background: var(--white);
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  outline: none;
}
.nursery-wrap .gform-body .gfield .ginput_container textarea#input_4_5 {
  height: 55px !important;
}
.nursery-wra .gform-body .gfield .heading-wrap {
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  color: #25400c;
}
.nursery-wrap .gform-body #field_4_21 .gfield_label {
  position: relative;
  top: inherit;
  left: inherit;
  margin-bottom: 8px;
  color: var(--black);
}
.nursery-wrap .gform-body .gfield .gfield_checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nursery-wrap .gform-body .gfield .gfield_checkbox .gchoice {
  width: 15%;
}
.nursery-wrap .gform-body .gfield .gfield_checkbox > button {
  padding: 9px 20px;
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: var(--black);
  letter-spacing: .1em;
  background: #f4f4f4;
  border: 1px solid rgba(0, 0, 0, .01);
  border-radius: 50px;
}
.nursery-wrap .gform_footer {
  padding: 0 !important;
  margin: 0 !important;
}
.nursery-wrap .gform_footer .gform_button {
  padding: 16px 35px !important;
  margin-top: 15px !important;
  font-family: "Manrope", sans-serif;
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all .5s;
}

.nursery-wrap legend.gfield_label {
  position: inherit !important;
  left: 0 !important;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

/* === Nursery Active Page === */
.widecolumn {
  width: 55%;
  padding: 150px 0;
  margin: 0 auto;
  text-align: center;
}
.widecolumn h2 {
  margin: 0 0 25px;
  font-size: 75px;
  color: #25400c;
}
.widecolumn p {
  margin: 0;
  line-height: 1.9;
}

/* === Nursery Reset Password Page === */
.woocommerce-account .woocommerce {
  padding: 70px 60px;
}
.woocommerce-account .woocommerce p {
  font-size: 18px;
}
.woocommerce-account .woocommerce .woocommerce-form-row {
  font-size: 15px;
}
.woocommerce-account .woocommerce .woocommerce-form-row label {
  margin-bottom: 5px;
}
.woocommerce-account .woocommerce .woocommerce-form-row input {
  height: 55px;
  padding: 15px;
  background-color: #efeff1;
  border: none;
  outline: none;
}
.woocommerce-account .woocommerce .woocommerce-form-row input:-internal-autofill-selected {
  background-color: transparent !important;
}
.woocommerce-account .woocommerce .woocommerce-form-row button {
  padding: 16px 35px !important;
  margin-top: 10px !important;
  font-family: "Manrope", sans-serif;
  font-size: 15px !important;
  font-weight: 300 !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all .5s;
}

/* === Nursery-popup ==== */
#view-nursery-popup {
  position: relative;
  width: 45%;
  padding: 30px;
  margin: 0 auto;
  background: var(--white);
  border-radius: 5px;
}
#view-nursery-popup h2 {
  margin-bottom: 20px;
  font-family: "Manrope", sans-serif;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--theme-color);
  text-align: center;
}
#view-nursery-popup .nursery-full-content {
  max-height: 550px;
  padding-right: 5px;
  overflow-y: scroll;
}
#view-nursery-popup .nursery-full-content h3 {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--theme-color);
}

#view-nursery-popup .nursery-full-content ul {
  padding: 0 !important;
  margin: 0;
}
#view-nursery-popup .nursery-full-content ul:last-child {
  margin: 0;
}
#view-nursery-popup .nursery-full-content ul.order_desc li {
  margin-bottom: 5px;
  font-size: 15px;
}

#view-nursery-popup .nursery-full-content .accordion-info:nth-child(3) ul li {
  display: inline-block;
  margin-right: 20px;
}
#view-nursery-popup .nursery-full-content .accordion-info:nth-child(3) ul li:first-child {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
#view-nursery-popup .nursery-full-content .accordion-info:nth-child(3) ul li ul {
  margin-bottom: 10px;
}
#view-nursery-popup .nursery-full-content .accordion-info:nth-child(3) ul li ul:last-child {
  margin-bottom: 0;
}

#view-nursery-popup .nursery-full-content ul.order_desc li span {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 600;
}
#view-nursery-popup .nursery-full-content ul.point-of-contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 15px;
}
#view-nursery-popup .nursery-full-content ul.point-of-contact li {
  padding: 12px 12px 10px;
  font-size: 15px;
  background: #f1f1f1;
  border: 1px solid rgba(0, 0, 0, .03);
  border-radius: 5px;
}
#view-nursery-popup .nursery-full-content ul.point-of-contact li span {
  margin-right: 4px;
  margin-bottom: 0;
}
.nursery-full-content::-webkit-scrollbar {
  width: 2px;
  border-radius: 10px;
}
.nursery-full-content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.nursery-full-content::-webkit-scrollbar-thumb {
  background: #648863;
  border-radius: 10px;
}
.nursery-full-content .accordion-info,
#view-nursery-popup .nursery-full-content .card_bxfl {
  margin: 0 30px 20px 0;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
}
#view-nursery-popup .nursery-full-content .accordion-info .accordion-toggle,
#view-nursery-popup .nursery-full-content .card_bxfl .accordion-toggle {
  position: relative;
  display: block;
  padding: 15px 10px 15px 30px;
  color: var(--white);
  background: var(--theme-color);
}

#view-nursery-popup .nursery-full-content .accordion-info .accordion-toggle::after,
#view-nursery-popup .nursery-full-content .card_bxfl .accordion-toggle::after {
  position: absolute;
  top: 50%;
  right: 20px;
  font-family: "fontawesome";
  font-size: 16px;
  color: var(--white);
  content: "\f078";
  transform: translateY(-50%);
}

#view-nursery-popup .nursery-full-content .accordion-info .accordion-toggle.open::after,
#view-nursery-popup .nursery-full-content .card_bxfl .accordion-toggle.open::after {
  content: "\f106";
}
#view-nursery-popup .nursery-full-content .accordion-info .accordion-toggle h3,
#view-nursery-popup .nursery-full-content .card_bxfl .accordion-toggle h3 {
  margin: 0;
  font-size: 18px;
  color: var(--white);
}
#view-nursery-popup .nursery-full-content .accordion-info .order_desc {
  display: none;
  padding: 10px 10px 10px 30px !important;
}
#view-nursery-popup .nursery-full-content .card_bxfl {
  margin-bottom: 0;
  border: 0;
}
#view-nursery-popup .nursery-full-content .card_bxfl .add_new_plants {
  display: none;
  margin-top: 20px;
}
#view-nursery-popup .nursery-full-content .card_bxfl .add_new_plants .row {
  --bs-gutter-y: 30px;
}
#view-nursery-popup .nursery-full-content .card_bxfl .add_new_plants .box {
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
}
#view-nursery-popup .nursery-full-content .card_bxfl .add_new_plants .box .title {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  color: var(--black);
  text-align: center;
  transition: .5;
}
#view-nursery-popup .nursery-full-content .card_bxfl .add_new_plants .box .title:hover {
  color: var(--theme-color);
}
