/* ==== Product Start ==== */
.hm-product {
  margin: 0;
  background: #f8f8f8;
}
.hm-product .title-pnl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}
.hm-product .title-pnl .lt-side {
  width: 50%;
}
.hm-product .title-pnl .lt-side h2 {
  color: #25400c;
}
.hm-product .title-pnl .rt-side {
  width: 50%;
  text-align: right;
}

.hm-product .box {
  margin-top: 60px;
  background: var(--white);
}
.hm-product .box .img {
  position: relative;
  height: 220px;
  overflow: hidden;
  text-align: center;
}
.hm-product .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all .5s;
}
.hm-product .box .img img a {
  display: block;
}
.hm-product .box .img:hover img {
  transform: scale(1.15);
}
.hm-product .box .img span.discount {
  position: absolute;
  top: 30px;
  left: 30px;
  padding: 8px;
  font-size: 16px;
  line-height: 1;
  color: var(--white);
  background: #8bba8a;
}
.hm-product .box .text {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 20px;
}
.hm-product .box .text .title {
  width: calc(100% - 50px);
  padding-right: 10px;
}
.hm-product .box .text .title a {
  display: block;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  color: var(--black);
}
.hm-product .box .text span.price {
  display: block;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  color: var(--black);
}
.hm-product .box .text span.price del {
  padding-left: 10px;
  font-size: 15px;
  color: #939393;
}
.hm-product .box .text .cart {
  width: 50px;
  height: 50px;
}
.hm-product .box .text .cart a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #648863;
}
.hm-product .box .text .cart a:hover {
  background: var(--black);
}

.hm-product.aboutp {
  padding-top: 80px;
  background: none;
}
.hm-product.aboutp .box {
  border: 1px solid #efefef;
}
