/*====== Responsive Start ======*/

@media screen and (max-width: 1399px) {
  .bnr-sec .bnr-innr .txt-pnl h1 {
    font-size: 80px;
  }
  .hm-about .text-wrap {
    padding-top: 80px;
  }
  .hm-about .text-wrap h2 {
    font-size: 55px;
  }
  .hm-create .text-block h2 {
    margin-bottom: 30px;
    font-size: 50px;
  }
  .hm-create .text-block P {
    margin-bottom: 40px;
  }
  .hm-create .text-block {
    padding-top: 10%;
  }
  .hm-create .text-block .rt-img img {
    max-width: 110px;
    width: 100%;
  }
  #login-popup .rt-wrap .nav.nav-tabs button {
    font-size: 18px;
    padding: 11px 0;
  }
  #login-popup .rt-wrap .tab-content .input-fld .form-control {
    height: 48px;
  }
  #login-popup .rt-wrap .tab-content .input-fld > label.up-lbl {
    font-size: 15px;
  }
  #login-popup {
    width: 65%;
  }
  .nursery-dash .inn .rt-side .order .box .text h6 {
    padding-bottom: 20px;
  }
  .nursery-dash .inn .rt-side .order .box .text ul li:nth-child(1) {
    font-size: 20px;
  }

  #view-nursery-popup {
    width: 50%;
  }
}
