/*==== WooCommerce Fix ===*/
.woocommerce div.product div.summary {
  width: 51%;
}
.woocommerce div.product div.summary .variations_form.cart {
  flex-direction: column;
  align-items: flex-start;
}

.woocommerce
  div.product
  div.summary
  .variations_form.cart
  table.variations
  th.label
  label {
  font-size: 16px;
  font-weight: 400 !important;
}
.woocommerce
  div.product
  div.summary
  .variations_form.cart
  table.variations
  td.value
  select {
  width: 100%;
  height: 42px;
  border: 1px solid #dbdbdb;
  background: #fff;
  border-radius: 5px;
  padding: 0 15px;
}
.woocommerce div.product div.summary .variations_form.cart table.variations tr {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
