/* ==== We Work Start ==== */
.we-work .inn {
  padding-bottom: 80px;
  border-bottom: 1px solid #ebebeb;
}
.we-work .lt-txt {
  width: 90%;
}
.we-work h3 {
  margin-bottom: 60px;
  color: #25400c;
  letter-spacing: .02em;
}
.we-work h4 {
  margin-bottom: 40px;
  color: #25400c;
  letter-spacing: .02em;
}
.we-work p {
  margin-bottom: 0;
  color: #444;
}
