/* ==== Cart Page Start ==== */
.woocommerce-cart-form {
  background: var(--white);
  border-radius: 4px;
}
.woocommerce table.shop_table {
  border: 0 !important;
}
.woocommerce table.shop_table .product-remove a {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 24px !important;
  height: 24px !important;
  font-size: 14px !important;
  color: #bebebe !important;
  border: 1px solid #bebebe !important;
}
.woocommerce table.shop_table tr th {
  padding: 25px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #646464;
}
.woocommerce table.shop_table tr td {
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #646464;
}
.woocommerce table.shop_table tr td a {
  color: #646464;
}
.woocommerce table.shop_table tr td.actions {
  padding: 40px 20px;
}
.woocommerce table.shop_table .quantity .qty {
  width: 60px;
  height: 35px;
  background: #f4f4f4;
  border: none;
  border-radius: 0;
  outline: none;
}
.woocommerce table.shop_table .quantity button {
  display: none;
}
.woocommerce table.shop_table .coupon {
  display: flex;
  width: 42%;
}
.woocommerce table.shop_table .coupon #coupon_code {
  width: 65%;
  height: 45px;
  padding: 0 20px;
  margin: 0;
  background: #f6f6f6;
  border: 0;
}
.woocommerce table.shop_table .coupon button {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #fff !important;
  text-transform: capitalize;
  background: #648863 !important;
  border-radius: 0;
}
.woocommerce table.shop_table .actions > button {
  height: 45px;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #fff !important;
  text-transform: capitalize;
  background: #648863 !important;
  border-radius: 0;
}

.return-to-shop a.button.wc-backward {
  padding: 16px 35px !important;
  margin-top: 10px !important;
  font-size: 18px !important;
  line-height: 1 !important;
  color: var(--white) !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #648863 !important;
  border: 0 !important;
  border-radius: 40px !important;
  transition: all 0.5s;
}
.return-to-shop a.button.wc-backward:hover {
  background: var(--black) !important;
}

.cart_totals {
  width: 100% !important;
  background: var(--white);
}
.cart_totals h2 {
  padding: 25px 20px;
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  text-transform: capitalize;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-collaterals .cart_totals .order-total th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart-collaterals .cart_totals .order-total td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.cart_totals .wc-proceed-to-checkout {
  padding: 35px 20px !important;
}
.cart_totals .wc-proceed-to-checkout a {
  padding: 18px 0 !important;
  margin-bottom: 0 !important;
}
.cart_totals tr.fee th:nth-child(1) {
  width: 55% !important;
}
